<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/myNoteInbox.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<%- include('../partials/navbar') %>

<div id="container">
    <div id="mypage-wrap">
        <div id="sidebar-wrap">
            <nav id="sidebar">
                <a id="sidebar-post" class="sidebar-menu" href="/mypage/mypost-post">내 글</a>
                <a id="sidebar-like" class="sidebar-menu" href="/mypage/mylike-post">좋아요</a>
                <a id="sidebar-note" class="sidebar-menu sidebar-active" href="/mypage/mynote-received">쪽지함</a>
                <a id="sidebar-notification" class="sidebar-menu" href="/mypage/mynotification">알림</a>
                <% if(role === 'master' || role === 'superman') { %>
                    <a id="sidebar-report" class="sidebar-menu" href="/admin/report-post">신고관리</a>
                <% } %>
                <% if(role === 'superman') { %>
                    <a id="sidebar-report" class="sidebar-menu" href="/admin/admin-list">매니저관리</a>
                <% } %>
            </nav>
        </div>

        <div id="content-wrap">
            <div id="sidebar-title-wrap">
                <p id="sidebar-title">쪽지함</p>
            </div>
            <div id="tap-menu-wrap">
                <button id="tap-received" class="tap-item" onclick="myNoteTapMenu(this)">받은 쪽지</button>
                <button id="tap-sent" class="tap-item" onclick="myNoteTapMenu(this)">보낸 쪽지</button>
                <button id="tap-note-inbox" class="tap-item tap-active" onclick="myNoteTapMenu(this)">쪽지 보관함</button>
            </div>
            <div id="items-wrap">
                <table id="mode1-table">
                    <thead id="mode1-thead">
                        <th class="thead-common select-btn"><input type="checkbox" id="check-all" onclick="checkAll(this)"></th>
                        <th class="thead-common sender">보낸사람</th>
                        <th class="thead-common recipient">받는사람</th>
                        <th class="thead-common note-content">내용</th>
                        <th class="thead-common date">발신일</th>
                        <th class="thead-common read">읽음</th>
                    </thead>
                    <tbody>
                        <% for(note of notes) { %>
                            <tr id="tr">
                                <td class="tbody-common"><input type="checkbox" class="check-one-note" onclick="checkOne(this)" data-check-note-id="<%= note._id %>"></td>
                                <% if(note.senderInfo.nickname === me) { %>
                                    <td class="tbody-common">나</td>
                                <% } else { %>
                                    <td class="tbody-common"><%= note.senderInfo.nickname %></td>
                                <% } %>
                                <% if(note.recipientInfo.nickname === me) { %>
                                    <td class="tbody-common">나</td>
                                <% } else { %>
                                    <td class="tbody-common"><%= note.recipientInfo.nickname %></td>
                                <% } %>
                                <td class="tbody-common-title inbox" onclick="openNote(this)" data-note-id="<%= note._id %>"><%= note.content %></td>
                                <td class="tbody-common">
                                    <%= note.sentAt.getFullYear() %>-<%= String(note.sentAt.getMonth()+1).padStart(2,'0') %>-<%= String(note.sentAt.getDate()).padStart(2,'0') %> <%= String(note.sentAt.getHours()).padStart(2,'0') %>:<%= String(note.sentAt.getMinutes()).padStart(2,'0') %>:<%= String(note.sentAt.getSeconds()).padStart(2,'0') %>
                                </td>
                                <td class="tbody-common">
                                    <% if(note.read) { %>
                                        읽음
                                    <% } else { %>
                                        안읽음
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div id="button-wrap">
                <div id="control-note-wrap">
                    <button id="delete-note-btn" class="delete-inbox" onclick="deleteNote(this)">삭제</button>
                </div>
                <div id="write-note-wrap">
                    <button id="write-note-btn" onclick="sendNotePopUp()">쪽지쓰기</button>
                </div>
            </div>

            <% if(notes.length !== 0) { %>
                <div id="pagination-wrap">
                    <% if(startPage > maxPost) { %>
                        <a class="page page-prev-active" href="/mypage/mynote-inbox?page=<%= startPage-1 %>">Prev</a>
                    <% } else { %>
                        <a class="page page-prev" href="javascript:void(0);">Prev</a>
                    <% } %>
                    <% for(let i = startPage; i <= endPage; i++) { %>
                        <% if(i === currentPage) { %>
                            <a class="page current-page" href="/mypage/mynote-inbox?page=<%= i %>"><%= i %></a>
                        <% } else { %>
                            <a class="page" href="/mypage/mynote-inbox?page=<%= i %>"><%= i %></a>
                        <% } %>
                    <% } %>
                    <% if(endPage < totalPage) { %>
                        <a class="page page-next-active" href="/mypage/mynote-inbox?page=<%= endPage+1 %>">Next</a>
                    <% } else { %>
                        <a class="page page-next" href="javascript:void(0);">Next</a>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/myPost.js"></script>