<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/myPagePost.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<%- include('../partials/navbar') %>

<div id="container">
    <div id="mypage-wrap">
        <div id="sidebar-wrap">
            <nav id="sidebar">
                <a id="sidebar-post" class="sidebar-menu sidebar-active" href="/mypage/mypost-post">내 글</a>
                <a id="sidebar-like" class="sidebar-menu" href="/mypage/mylike-post">좋아요</a>
                <a id="sidebar-note" class="sidebar-menu" href="/mypage/mynote-received">쪽지함</a>
                <a id="sidebar-notification" class="sidebar-menu" href="/mypage/mynotification">알림</a>
                <% if(role === 'master' || role === 'superman') { %>
                    <a id="sidebar-report" class="sidebar-menu" href="/admin/report-post">신고관리</a>
                <% } %>
                <% if(role === 'superman') { %>
                    <a id="sidebar-report" class="sidebar-menu" href="/admin/admin-list">매니저관리</a>
                <% } %>
            </nav>
        </div>

        <div id="content-wrap">
            <div id="sidebar-title-wrap">
                <p id="sidebar-title">내 글</p>
            </div>
            <div id="tap-menu-wrap">
                <button id="tap-post" class="tap-item tap-active" onclick="myPostTapMenu(this)">게시물</button>
                <button id="tap-comment" class="tap-item" onclick="myPostTapMenu(this)">댓글</button>
            </div>
            <div id="items-wrap">
                <table id="mode1-table">
                    <thead id="mode1-thead">
                        <th class="thead-common recommend">추천</th>
                        <th class="thead-common title">제목</th>
                        <th class="thead-common date">날짜</th>
                        <th class="thead-common view">조회수</th>
                    </thead>
                    <tbody>
                        <% for(post of posts) { %>
                            <% if(post.notice) { %>
                                <tr id="tr" style="background-color: #f5f5f5;">
                            <% } else { %>
                                <tr id="tr">
                            <% } %>
                                <td class="tbody-common"><%= post.likes.length %></td>
                                <td class="tbody-common-title" onclick="location.href='/index/<%= post._id %>'">
                                    <span class="tbody-title">
                                        <% if(post.notice) { %>
                                            <b style="color: red;">[알림]</b>
                                        <% } %>
                                        <% if(Object.keys(post.images[0]).length > 0) { %>
                                            <i class="fa-regular fa-image image"></i>
                                        <% } %>
    
                                        <%= post.title %>
                                    </span>
                                    <b style="color: crimson;">
                                        <%= post.comments.length %>
                                    </b>
                                </td>
                                <td class="tbody-common">
                                    <%= post.createdAt.getFullYear() %>-<%= String(post.createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(post.createdAt.getDate()).padStart(2,'0') %> <%= String(post.createdAt.getHours()).padStart(2,'0') %>:<%= String(post.createdAt.getMinutes()).padStart(2,'0') %>:<%= String(post.createdAt.getSeconds()).padStart(2,'0') %>
                                </td>
                                <td class="tbody-common"><%= post.views %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <% if(posts.length !== 0) { %>
                <div id="pagination-wrap">
                    <% if(startPage > maxPage) { %>
                        <a class="page page-prev-active" href="/mypage/mypost-post?page=<%= startPage-1 %>">Prev</a>
                    <% } else { %>
                        <a class="page page-prev" href="javascript:void(0);">Prev</a>
                    <% } %>
                    <% for(let i = startPage; i <= endPage; i++) { %>
                        <% if(i === currentPage) { %>
                            <a class="page current-page" href="/mypage/mypost-post?page=<%= i %>"><%= i %></a>
                        <% } else { %>
                            <a class="page" href="/mypage/mypost-post?page=<%= i %>"><%= i %></a>
                        <% } %>
                    <% } %>
                    <% if(endPage < totalPage) { %>
                        <a class="page page-next-active" href="/mypage/mypost-post?page=<%= endPage+1 %>">Next</a>
                    <% } else { %>
                        <a class="page page-next" href="javascript:void(0);">Next</a>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
<script src="/javascript/myPost.js"></script>