<% layout('layouts/boilerplate') %>
<div class="container mt-5 mb-5 d-flex justify-content-center border border-danger">
    <div class="row w-75 border border-info" id="table_wrap">
        <table class="table table-sm table-hover" id="index_table">
            <thead id="thead">
                <th class="col-1 head wordoverflow">추천</th>
                <th class="col-5 head wordoverflow">제목</th>
                <th class="col-1 head wordoverflow">작성자</th>
                <th class="col-2 head wordoverflow">날짜</th>
                <th class="col-1 head wordoverflow">조회</th>
            </thead>
            <tbody>

                <% for (let content of contents) { %>
                <tr id="tr">
                    <td class="body wordoverflow">333</td>
                    <td class="py-2" onclick="location.href='/index/<%= content._id %>'">
                        <p id="table_title"><%= content.title %> <b style="color: crimson;">
                            <%# 댓글 수 표시 %>
                            <% let sum = 0 %>
                            <% for(let i = 0; i < content.comments.length; i++) { %> 
                                <% sum += content.comments[i].nestedComments.length %>
                            <% } %>                            
                            <%= sum + content.comments.length %>
                        </b></p></td>
                    <td class="body wordoverflow"><%= content.author.nickname %></td>
                    <td class="body wordoverflow">
                        <%= content.createdAt.getFullYear() %>-<%= String(content.createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(content.createdAt.getDate()).padStart(2,'0') %> <%= String(content.createdAt.getHours()).padStart(2,'0') %>:<%= String(content.createdAt.getMinutes()).padStart(2,'0') %>
                    </td>
                    <td class="body wordoverflow">999999999999</td>
                </tr>
                <% } %>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary btn-sm" href="/index/new">글쓰기</a>
        </div>

        <div class="d-flex justify-content-center">
            <nav class="" aria-label="Page navigation example">
                <ul class="pagination pagination-sm">
                    <% if(startPage > maxPost) { %>
                        <li class="page-item"><a class="page-link" href="/index?page=<%= startPage-1 %>">Prev</a></li>
                    <% } else { %>
                        <li class="page-item disabled"><a class="page-link" href="javascript:void(0);">Prev</a></li>
                    <% } %>
                    <% for(let i = startPage; i <= endPage; i++) { %>
                        <% if(i === currentPage) { %>
                            <li class="page-item active"><a class="page-link" href="/index?page=<%= i %>"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/index?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                    <% } %>
                    <% if(endPage < totalPage) { %>
                        <li class="page-item"><a class="page-link" href="/index?page=<%= endPage+1 %>">Next</a></li>
                    <% } else { %>
                        <li class="page-item disabled"><a class="page-link" href="javascript:void(0);">Next</a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</div>