<% layout('layouts/boilerplate') %>
<div class="container d-flex flex-column align-items-center mt-5">
    <div class="card d-inline mb-3 w-75 py-1 border-start-0 border-end-0 border-bottom-0">
        <p id="show_title" class="m-0 py-3 px-3"><strong><%= boardItems.title %></strong></p>
        <div id="content_info" class="d-flex justify-content-between px-3 py-2 mt-0 border border-start-0 border-end-0 bg-light">
            <div>
                <span class="align-middle"><%= boardItems.author.nickname %>&nbsp;&nbsp;</span><span class="align-middle">|&nbsp;&nbsp;<%= boardItems.createdAt.getFullYear() %>-<%= String(boardItems.createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(boardItems.createdAt.getDate()).padStart(2,'0') %> <%= String(boardItems.createdAt.getHours()).padStart(2,'0') %>:<%= String(boardItems.createdAt.getMinutes()).padStart(2,'0') %>:<%= String(boardItems.createdAt.getSeconds()).padStart(2,'0') %></span>
            </div>
            <% if(signedInUser && boardItems.author.equals(signedInUser._id)) { %>
            <div class="d-flex justify-content-end">
                <a class="p-1 me-1 btn btn-outline-warning btn-sm" href="/index/<%= boardItems._id %>/edit">수정</a>
                <form action="/index/<%= boardItems._id %>?_method=DELETE" method="POST">
                    <button class="p-1 btn btn-outline-danger btn-sm">삭제</button>
                </form>
            </div>
            <% } %>
        </div>
        <p class="px-3 py-3 m-0" style="white-space: pre-wrap;"><%= boardItems.mainText %></p>
        <div class="d-flex px-3 justify-content-end border border-start-0 border-end-0 bg-light">
            <a class="p-1 me-1 btn btn-outline-secondary btn-sm" href="/index">목록</a>
            <a class="p-1 btn btn-outline-danger btn-sm" href="#">신고</a>
        </div>
    </div>
    <div class="d-inline w-75 border border-2 border-start-0 border-end-0 border-top-0 bg-light">
        <p class="m-0 mt-1 py-0 px-3"><strong id="comments_color"><%= commentSum %></strong> Comments</p>
    </div>
    
    <%# 전체댓글 %>
    <div class="d-flex flex-column w-100 align-items-center allCommentsWrap">
        <%# 부모댓글 %>
        <% for (comment of commentItems) { %>
            <div class="card mt-2 w-75 border-start-0 border-end-0 border-bottom-0 commentWrap">
                <div class="d-flex justify-content-between px-3 mb-3 mt-2 commentInfoWrap">
                    <span class="commentNickname"><b class="nicknameBold"><%= comment.author.nickname %></b></span>
                    <span class="commentDate"><%= comment.createdAt.getFullYear() %>-<%= String(comment.createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(comment.createdAt.getDate()).padStart(2,'0') %> <%= String(comment.createdAt.getHours()).padStart(2,'0') %>:<%= String(comment.createdAt.getMinutes()).padStart(2,'0') %>:<%= String(comment.createdAt.getSeconds()).padStart(2,'0') %></span>
                </div>
                <div class="d-flex justify-content-between px-3 mb-1 commentBodyWrap">
                    <p id="commentBody" class="commentBody" style="white-space: pre-wrap;" data-comment-body="<%= comment._id %>"><%= comment.body %></p>
                </div> 
                <div class="d-flex justify-content-end px-3 mb-3 commentBtnWrap">
                    <% if(signedInUser) { %>
                        <button class="btn btn-outline-secondary btn-sm p-1 me-1 commentReplyBtn" data-bs-toggle="button" data-page-id="<%= boardItems._id %>" data-reply-comment="<%= comment._id %>">답변</button>
                    <% } %>
                    <% if (signedInUser && comment.author.equals(signedInUser._id)) { %>
                        <button class="btn btn-outline-secondary btn-sm p-1 me-1 commentEditBtn" data-bs-toggle="button" data-page-id="<%= boardItems._id %>" data-comment-edit="<%= comment._id %>">수정</button>
                        <% if(comment.nestedComments.length == 0) { %>
                            <form class="commentDeleteForm" action="/index/<%= boardItems._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-outline-danger btn-sm p-1 commentDelete">삭제</button>
                            </form>
                        <% } %>
                    <% } else { %>
                        <a class="btn btn-outline-danger btn-sm p-1 commentReport" href="#">신고</a>
                    <% } %>
                </div>
                <!-- <div class="mb-3 px-3 editCommentWrap">
                    <form action="">
                        <label class="form label w-100" for="body">Edit Comment</label>
                        <textarea class="form-control" name="comment[body]" id="" cols="30" rows="3"></textarea>
                        <div class="d-flex justify-content-end mt-1">
                            <button class="btn btn-outline-secondary btn-sm p-1 me-1 sbm editSubmit">등록</button>
                        </div>
                    </form>
                </div> -->
                <!-- <div class="mb-3 px-3 replyCommentWrap">
                    <form action="">
                        <label class="form label w-100" for="body">Reply Comment</label>
                        <textarea class="form-control replyComment" name="nestedComment[body]" id="" cols="30" rows="3"></textarea>
                        <div class="d-flex justify-content-end mt-1">
                            <button class="btn btn-outline-secondary btn-sm p-1 me-1 sbm replySubmit">등록</button>
                        </div>
                    </form>
                </div> -->
            </div>

            <%# 대댓글 %>
            <div class="d-flex flex-column w-100 align-items-center allNestedCommentsWrap">
                <% let num = 0 %>
                <% for (commentReply of comment.nestedComments) { %>
                    <div class="w-75 border-0 d-flex flex-column align-items-end nestedCommentWrap">
                        <div class="card mb-1 d-flex flex-column bg-light nestedCommentInnerWrap">
                            <div class="d-flex justify-content-between px-3 mb-3 nestedCommentInfoWrap">
                                    <span class="nestedCommentNickname"><b class="nestedNicknameBold"><%= comment.nestedComments[num].author.nickname %> </b></span>
                                    <span class="nestedCommentDate"><%= comment.nestedComments[num].createdAt.getFullYear() %>-<%= String(comment.nestedComments[num].createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(comment.nestedComments[num].createdAt.getDate()).padStart(2,'0') %> <%= String(comment.nestedComments[num].createdAt.getHours()).padStart(2,'0') %>:<%= String(comment.nestedComments[num].createdAt.getMinutes()).padStart(2,'0') %>:<%= String(comment.nestedComments[num].createdAt.getSeconds()).padStart(2,'0') %></span>
                            </div>
                            <div class="d-flex justify-content-between px-3 nestedCommentBodyWrap">
                                <p id="nestedCommentBody" class="nestedCommentBody" style="white-space: pre-wrap;" data-commentReply-body="<%= comment.nestedComments[num]._id %>"><%= comment.nestedComments[num].body %></p>
                            </div>
                            <div class="d-flex justify-content-end px-3 mb-1 nestedCommentBtnWrap">
                                <button class="btn btn-outline-secondary btn-sm p-1 me-1 nestedCommentDelete">삭제</button>
                                <button class="btn btn-outline-danger btn-sm p-1 nestedCommentReport">신고</button>
                            </div>
                        </div>
                    </div>
                    <% num++ %>
                <% } %>
            </div>
        <% } %>
    </div>

    <%# 댓글 페이징 %>
    <div class="w-75 mb-3 pt-3 border border-start-0 border-end-0 border-bottom-0 pagingWrap">
        <div class="d-flex justify-content-center">
            <a class="me-2" href="#">prev</a>
            <a class="me-2" href="#">1</a>
            <a class="me-2" href="#">2</a>
            <a class="me-2" href="#">3</a>
            <a class="me-2" href="#">4</a>
            <a class="me-2" href="#">5</a>
            <a class="me-2" href="#">next</a>
        </div>
    </div>

    <%# 댓글입력 %>
    <div class="row w-75 mb-3 bg-light" >
        <% if(!signedInUser) { %>
            <div class="p-5 d-flex flex-column align-items-center justify-content-center">
                <span>댓글 작성은 <a class="signInBtn" href="/signin?redirectUrl=/index/<%= boardItems.id %>">로그인</a>이 필요합니다.</span>
            </div>
        <% } else { %>
            <form class="d-flex flex-column align-items-center justify-content-center validated-form" action="/index/<%= boardItems._id %>/comments" method="POST" novalidate>
                <label class="form label w-100" for="body">Comment</label>
                <textarea class="form-control" name="comment[body]" id="body" cols="10" rows="5" required></textarea>
                <button class="w-100 btn btn-success btn-sm">등록</button>
            </form>
        <% } %>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- <script src="/source/jquery-3.7.1.min.js"></script> -->
<script src="/javascript/commentsInShow.js"></script>
