<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/show2.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<%- include('../partials/navbar') %>
<div id="container">
    <div id="post-wrap">
        <div id="content-wrap">
            <!-- 게시물 -->
            <div id="title-wrap">
                <p id="title"><%= board.title %></p>
            </div>
            <div id="content-info">
                <div id="user-info">
                    <p id="nickname"><%= board.author.nickname %>&nbsp;&nbsp;</p>
                    <p id="post-date">|&nbsp;&nbsp;<%= board.createdAt.getFullYear() %>-<%= String(board.createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(board.createdAt.getDate()).padStart(2,'0') %> <%= String(board.createdAt.getHours()).padStart(2,'0') %>:<%= String(board.createdAt.getMinutes()).padStart(2,'0') %>:<%= String(board.createdAt.getSeconds()).padStart(2,'0') %></p>    
                </div>
                <% if(signedInUser && board.author.equals(signedInUser._id)) { %>
                <div id="content-edit-btn-group">
                    <a id="content-edit" class="p-1 me-1 btn btn-outline-warning btn-sm" href="/index/<%= board._id %>/edit2">수정</a>
                    <form action="/index/<%= board._id %>?_method=DELETE" method="POST">
                        <button id="content-delete" class="p-1 btn btn-outline-danger btn-sm">삭제</button>
                    </form>
                </div>
                <% } %>
            </div>
            <div id="content">
                <div id="mainText" style="white-space: pre-wrap;"><%= board.mainText.replace(/&nbsp;/g, ' ') %></div>
                <textarea id="boardImg" style="display: none;"><%= boardImg %></textarea>
            </div>
            <div id="content-like-wrap">
                <button id="content-like" onclick="postLike()" data-postId="<%= board._id %>"><i id="content-thumb" class="fa-solid fa-thumbs-up fa-2xl"></i><p id="count-content-likes"><%= board.likes.length %></p></button>
            </div>
            <div id="content-bottom-btn-group">
                <a id="index" class="p-1 me-1 btn btn-outline-secondary btn-sm" href="/index">목록</a>
                <a id="report" class="p-1 btn btn-outline-danger btn-sm" href="#">신고</a>
            </div>
        </div>
    </div>


<div id="best-comment">
    <% if( bestComment !== undefined ) { %>
        <!-- 베스트 댓글 -->
        <div id="best-comment-wrap">
            <div id="best-comment-top">
                Best Comment
            </div>
            <div id="best-comment-info" class="comments-info">
                <div id="info-left" class="info-left">
                    <p class="nickname"><%= bestComment.author.nickname %></p>
                    <p class="user-ip">123.456.78.900</p>
                </div>
                <div id="info-right">
                    <p class="comment-date"><%= bestComment.createdAt.getFullYear() %>-<%= String(bestComment.createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(bestComment.createdAt.getDate()).padStart(2,'0') %> <%= String(bestComment.createdAt.getHours()).padStart(2,'0') %>:<%= String(bestComment.createdAt.getMinutes()).padStart(2,'0') %>:<%= String(bestComment.createdAt.getSeconds()).padStart(2,'0') %></p>
                </div>
            </div>
            <div id="best-comment-main">
                <p class="main-text"><%= bestComment.body %></p>
            </div>
            <div id="best-comment-btn-group">
                <div class="comment-like-wrap">
                    <button class="comment-like" onclick="commentLike(this)" data-postId="<%= board._id %>" data-commentId="<%= bestComment._id %>"><i id="commnet-thumb" class="fa-solid fa-thumbs-up"></i><p class="count-comment-likes"><%= bestComment.likes.length %></p></button>
                </div>
                <div class="comment-control-btn">
                    <% if(!(signedInUser && bestComment.author.equals(signedInUser._id))) { %>
                    <button class="report control-btn">신고</button>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
    <div id="comments-title">
        <p id="count-comments"><%= board.comments.length %></p>&nbsp;Comments
    </div>
</div>


<!-- 댓글 부분 -->
<div id="comments-container">
    <div id="comments-wrap">
        <!-- 부모 댓글 -->
        <% for(comment of comments) { %>
            <% if(comment._id.equals(comment.parentComment)) { %>
                <% if(!comment.isDeleted) { %>
                    <div id="parent-comments-wrap">
                        <div id="parent-comments-info" class="comments-info">
                            <div id="info-left" class="info-left">
                                <p class="nickname"><%= comment.author.nickname %></p>
                                <p class="user-ip">123.456.78.900</p>
                            </div>
                            <div id="info-right" class="info-right">
                                <p class="comment-date"><%= comment.createdAt.getFullYear() %>-<%= String(comment.createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(comment.createdAt.getDate()).padStart(2,'0') %> <%= String(comment.createdAt.getHours()).padStart(2,'0') %>:<%= String(comment.createdAt.getMinutes()).padStart(2,'0') %>:<%= String(comment.createdAt.getSeconds()).padStart(2,'0') %></p>
                            </div>
                        </div>
                        <div id="parent-comments-content" class="comments-content">
                            <p class="main-text"><%= comment.body %></p>
                        </div>
                        <div id="parent-comments-btn-group" class="comments-btn-group">
                            <div class="comment-like-wrap">
                                <button class="comment-like" onclick="commentLike(this)" data-postId="<%= board._id %>" data-commentId="<%= comment._id %>"><i id="commnet-thumb" class="fa-solid fa-thumbs-up"></i><p class="count-comment-likes"><%= comment.likes.length %></p></button>
                            </div>
                            <div class="comment-control-btn">
                                <% if(signedInUser) { %>
                                    <button class="reply control-btn" onclick="createReplyInputBox(this)" data-postId="<%= board._id %>" data-commentId="<%= comment._id %>">답변</button>
                                <% } %>
                                <% if(signedInUser && comment.author.equals(signedInUser._id)) { %>
                                    <% if(!comment.hasReply) { %>
                                        <button class="modify control-btn" onclick="createEditCommentInputBox(this)" data-postId="<%= board._id %>" data-commentId="<%= comment._id %>">수정</button>
                                    <% } %>
                                        <button class="delete control-btn" onclick="deleteComment(this)" data-postId="<%= board._id %>" data-commentId="<%= comment._id %>">삭제</button>
                                <% } else { %>
                                    <button class="report control-btn">신고</button>
                                <% } %>
                            </div>
                        </div>
                    </div>
            <% } else { %>
                <div id="deleted-parent-comments-wrap"> 해당 댓글은 삭제되었습니다. </div>
            <% } %>

        <% } else { %>    
            <!-- 대댓글 -->
                <div id="child-comments-wrap">
                    <div id="child-comments-info" class="comments-info">
                        <div id="info-left" class="info-left">
                            <p class="nickname"><%= comment.author.nickname %></p>
                            <p class="user-ip">123.456.78.900</p>
                        </div>
                        <div id="info-right">
                            <p class="comment-date"><%= comment.createdAt.getFullYear() %>-<%= String(comment.createdAt.getMonth()+1).padStart(2,'0') %>-<%= String(comment.createdAt.getDate()).padStart(2,'0') %> <%= String(comment.createdAt.getHours()).padStart(2,'0') %>:<%= String(comment.createdAt.getMinutes()).padStart(2,'0') %>:<%= String(comment.createdAt.getSeconds()).padStart(2,'0') %></p>
                        </div>
                    </div>
                    <div id="child-comments-content" class="comments-content">
                        <p class="main-text"><%= comment.body %></p>
                    </div>
                    <div id="child-comments-btn-group" class="comments-btn-group">
                        <div class="comment-like-wrap">
                            <button class="comment-like reply-btn" onclick="commentLike(this)" data-postId="<%= board._id %>" data-commentId="<%= comment._id %>"><i id="commnet-thumb" class="fa-solid fa-thumbs-up"></i><p class="count-comment-likes"><%= comment.likes.length %></p></button>
                        </div>
                        <div class="comment-control-btn">
                            <% if(signedInUser && comment.author.equals(signedInUser._id)) { %>
                                <button class="delete reply-btn" onclick="deleteComment(this)" data-postId="<%= board._id %>" data-commentId="<%= comment._id %>">삭제</button>
                            <% } else { %>
                                <button class="report reply-btn">신고</button>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</div>

<% if(pagination) { %>
<div id="pagination-wrap">
    <div id="pagination">
        <% if(startPage > maxPost) { %>
            <button class="commentPage" onclick="commentPage(this)" data-postId="<%= board._id %>" data-page="<%= startPage - 1 %>">prev</button>
        <% } else { %>
            <button class="commentPage" style="color: grey;">prev</button>
        <% } %>
        <% for(let i = startPage; i <= endPage; i++) { %>
            <% if(i === currentPage) { %>
                <button id="currentPage" class="commentPage" style="color: red;" onclick="commentPage(this)" data-postId="<%= board._id %>"><%= i %></button>
            <% } else { %>
                <button class="commentPage" onclick="commentPage(this)" data-postId="<%= board._id %>"><%= i %></button>
            <% } %>
        <% } %>
        <% if(endPage < totalPage) { %>
            <button class="commentPage" onclick="commentPage(this)" data-postId="<%= board._id %>" data-page="<%= endPage+1 %>">next</button>
        <% } else { %>
            <button class="commentPage" style="color: grey;">next</button>
        <% } %>
    </div>
</div>
<% } %>

<% if(!signedInUser) { %>
    <div id="login-required-wrap">
        <div id="login-required">
            <span>댓글 작성은 <a class="signInBtn" href="/signin?redirectUrl=/index/<%= board.id %>">로그인</a>이 필요합니다.</span>
        </div>
    </div>
<% } else { %>
    <div id="create-comment-wrap">
        <form id="create-comment-form" action="/index/<%= board._id %>/comments" method="POST" novalidate>
            <label id="comment-label" for="body">Comment</label>
            <textarea class="form-control" name="comment[body]" id="comment" cols="10" rows="5" required></textarea>
            <button class="w-100 btn btn-success btn-sm">등록</button>
        </form>
    </div>
<% } %>

</div>
<%- include('../partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/show2.js"></script>
<script src="/javascript/showComments2.js"></script>