<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SHOW PAGE!</h1>
    <h2>TITLE: <%= items.title %></h2>
    <h3>TEXT: <%= items.mainText %></h3>
    <h5>DATE: <%= items.register %></h5>
    <a href="/index/<%= items._id %>/edit">EDIT</a>
    <a href="/index">back to index page</a>
    <form action="/index/<%= items._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <hr>
    <h4>COMMENT: 진행중....</h4>
</body>
</html>